section.about
    .wrapper
        .about-block
            .about-block__img
                img.page__img(src="assets/img/img-medic.png", alt="")
            .about-block__text
                h2.page__title-h2.page__title-h2_black About us
                h2.page__title-h2.page__title-h2_semibold What you Should know
                p.page__text A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amic dit que Occidental es. Li Europan lingues dit membres sam familie. Lor separat existentie es differe grammatical un myth.
                .about-block__advantages
                    .item Great service
                    .item 25 Awards won
                    .item 750 Client
                    .item Qualified doctors
                    .item We care about you
                    