section#banner.banner
    .banner_opacity
    .banner-block
        .wrapper
            .page__title_over A Personal Relation With Medic
            h1.page__title-h1 Achieve your desired perfect smile 
            p.page__text At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.
            a.page__btn(href="") Make on Appointment
            