section.contacts
    .wrapper
        .contacts-items
            .contacts-items__item
                .page__icon.page__icon_mark
                .contacts-items__item-text
                    h3.page__title-h3 Our Location
                    p.page__text 4315,Walnut Street Laurel
            .contacts-items__item
                .page__icon.page__icon_phone
                .contacts-items__item-text
                    h3.page__title-h3 Phone Number
                    p.page__text +44 022 567 980
            .contacts-items__item
                .page__icon.page__icon_mail
                .contacts-items__item-text
                    h3.page__title-h3 Email Address
                    p.page__text medic@contact.com
            .contacts-items__item
                .page__icon.page__icon_phone
                .contacts-items__item-text
                    h3.page__title-h3 Opening Hours
                    p.page__text Mon–Fri: 09:00–15:00
