section.contact
    .wrapper
        h2.page__title-h2 Our Contact
        form.page__form(action="")
            label.page__label(for="") Patient Name*
                input.page__input(type="text")
            label.page__label(for="") Phone Number*
                input.page__input(type="text")
            label.page__label(for="") Email Address*
                input.page__input(type="text")
            label.page__label(for="") Select date*
                input.page__input(type="text")
            label.page__label(for="") Department
                input.page__input(type="text")
            label.page__label(for="") Department
                input.page__input(type="text")
            button.page__btn Make on Appointment