section.info
    .info_opacity
    .info-block
        .wrapper
            h2.page__title-h2.page__title-h2_big For Emergency  
                span.page_color-red M
                |edic Please Contact
            .page__title-h2.page__title-h2_semibold (+1800 - 011 - 225 362 ) 
