section.service
    .wrapper
        h2.page__title-h2 Our Service
        .service-items
            .service-items__item
                .page__icon.page__icon_syringe
                h3.page__title-h3 Professional Doctors
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
            .service-items__item
                .page__icon.page__icon_stethoscope
                h3.page__title-h3 Tract your Progress
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
            .service-items__item
                .page__icon.page__icon_blob
                h3.page__title-h3 Exclusive Blood bank
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
            .service-items__item
                .page__icon.page__icon_medic
                h3.page__title-h3 Qualified Doctors
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
            .service-items__item
                .page__icon.page__icon_oclock
                h3.page__title-h3 24/7 Opened
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
            .service-items__item
                .page__icon.page__icon_signal
                h3.page__title-h3 Emergency Service
                .page__text Li lingues differ solmen li grammatical li pronunciation li plu commun esser vocabules.
        