section.specialities
    .wrapper
        h2.page__title-h2 Our Specialities
        .specialities-items
            .specialities-items__item
                .page__icon
                    .page__icon_heart
                h3.page__title-h3 Cardiology
                p.page__text It va esser tam simplic dit quam Occidental in fact, it va esser Occidental.
            .specialities-items__item
                .page__icon
                    .page__icon_eye
                h3.page__title-h3 Ophthalmology
                p.page__text It va esser tam simplic dit quam Occidental in fact, it va esser Occidental.
            .specialities-items__item
                .page__icon
                    .page__icon_brain
                h3.page__title-h3 Neurology
                p.page__text It va esser tam simplic dit quam Occidental in fact, it va esser Occidental.
            .specialities-items__item
                .page__icon
                    .page__icon_pharynx
                h3.page__title-h3 Dermatology
                p.page__text It va esser tam simplic dit quam Occidental in fact, it va esser Occidental.