section.team
    .wrapper
        h2.page__title-h2 Our Team in Medic
        .team-items
            .team-items__item
                .page__img
                    img(src="assets/img/img-medic-1.jpg", alt="")
                h3.page__title-h3.page__title-h3_medium Alexia nixon
                .page__title_sub Physiotherapy Expert
                .page__text Li lingues differe sol lit es grammatical, li pro e li plu commun vocabules.
            .team-items__item
                .page__img
                    img(src="assets/img/img-medic-2.jpg", alt="")
                h3.page__title-h3.page__title-h3_medium Mark lowson
                .page__title_sub The Rapist
                .page__text Li lingues differe sol lit es grammatical, li pro e li plu commun vocabules.
            .team-items__item
                .page__img
                    img(src="assets/img/img-medic-3.jpg", alt="")
                h3.page__title-h3.page__title-h3_medium Lisa weider
                .page__title_sub Nurse
                .page__text Li lingues differe sol lit es grammatical, li pro e li plu commun vocabules.
            .team-items__item
                .page__img
                    img(src="assets/img/img-medic-4.jpg", alt="")
                h3.page__title-h3.page__title-h3_medium Zakaria smith
                .page__title_sub Cardiologist
                .page__text Li lingues differe sol lit es grammatical, li pro e li plu commun vocabules.