section.testimonial
    .wrapper
        h2.page__title-h2 Our Testimonial
        .testimonial-items
            .testimonial-items__item
                .page__img
                    img(src="assets/img/img-medic-5.jpg", alt="")
                .testimonial-items__item-text
                    h3.page__title-h3.page__title-h3_medium Catherine Grace
                    p.page__text Marketing Manager
                p.page__text “Li lingues differe solmen in li grammatica, lit pronunciationli plu commun vocabules. Omnicos desirabilite lingual francal custosi traductores.”
            .testimonial-items__item
                .page__img
                    img(src="assets/img/img-medic-6.jpg", alt="")
                .testimonial-items__item-text
                    h3.page__title-h3.page__title-h3_medium Jasica Lenon
                    p.page__text Manual Treatment
                p.page__text “Li lingues differe solmen in li grammatica, lit pronunciationli plu commun vocabules. Omnicos desirabilite lingual francal custosi traductores.”

            .testimonial-items__item